.raisedbox { 
    padding: 10px;
    border: 1px solid #21262b;
    box-shadow:  -1px 1px #21262b,
         -2px 2px #21262b,
         -3px 3px #21262b,
         -4px 4px #21262b,
         -5px 5px #21262b;
}